/AlignDB-IntSpan-*

META.yml
Makefile
inc/
pm_to_blib
*~
blib
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE

# IDE
.idea
.komodotools

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak
*.swp
